#custom-search-input{
    margin: 50px auto;
    border: solid 2px #a75535;
    border-radius: 10px;
    background-color: #fff;
    height: 40px;
    width: 500px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    height: 30px;
}

#custom-search-input button{
    margin: 0 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 10px 0 10px;
    border-left: solid 1px #ccc;
    height: 40px;
}

#custom-search-input button:hover{
    box-shadow: none;
    border-left: solid 1px #ccc;
    height: 40px;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}
.head{
    width: 100%;
    float: left;
    height: 130px;
}
.logo{
    width: 20%;
    float: left;
	height: 100px;
	padding-left: 20px;
}
.search{
	width: 58%;
	float: left;
	height: 100px;
}
div.login{
	width: 22%;
	float: right;
    height: 100px;
    padding-top: 55px;
	padding-left: 150px;
}

div.login p{
	font-size: larger;
}

.login a{
    color: black;
}
p{
    padding: 60px auto ;
}
.imglogo{
	width: 280px;
	margin-left: 10px;
}
/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome' ;
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

body {
    font-family: /*'Lato'*/ Helvetica, Arial, sans-serif;
    color:#a75535;
    margin-top: 0;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}
.Title{
    font-size: 15px;
}
a:hover {
	color: #000;
}


.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	color: #a75535;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 40px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}
.cbp-hrmenu {
	width: 100%;
	border-bottom: 4px solid #a75535;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
    padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	/* width: 90%; */
	max-width: 75em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hrmenu > ul > li {
    display: inline-block;
    padding-left: 70px;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding: 1em 2em;
	color: #999;
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #a75535;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	background:#a75535;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background:#a75535;
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
	color: #a18e86;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #a75535;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}

input.form-control.input-lg {
	margin-top: 3px;
}




  
  