{% extends 'product/base.html' %}

{% load static %}

{% block title %}News | {% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'news/css/listNews.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Meta OpenGraph-->
<meta name="og:description" content="Latest news about skincare and routine for beginners" />
<meta name="og:description" content="Tin tức chăm sóc da cơ bản cho người mới beautifme" />
<meta name="og:title" content="News | beautifME"/>
<meta name="og:url" content="https://www.beautifme.com/news"/>
<!--Meta keywords-->
<meta name="keywords" content="recommend, skincare, skin care, skincare recommend, skincare recommend beautifme" />
<meta name="keywords"
    content="skincare routine for beginners, gợi ý chu trình chăm sóc da, gợi ý beautifme, dưỡng da beautifme" />
<meta name="keywords" content="dưỡng da cơ bản beautifme, dưỡng da, skincare for beginners" />
<meta name="keywords"
    content="oily, dry, combination, acne prone, normal skin, aging skin, 30s, 20s, wrinkle, anti-aging" />
<!--end Meta keywords-->
<meta charset="UTF-8" />
<meta name="description" content="Cập nhật các thông tin mới nhất về việc chăm sóc da cùng beautifME" />
<!--end Meta data-->
<link rel="canonical" href="https://www.beautifme.com/news/" />
{% endblock header %}
{% block content %}
<h1 style="display: none; height: 0px; width: 0px;">News</h1>
<div class="listnews">
    {% if news_list %}
    {% for news in news_list %}
    <div class="news">
        <div class="includeimg">
            <a href="/news/{{ news.id }}/{{ news.slug }}/">
                <img class="img lazyload" src="{{ news.news_img.url }}" alt="dưỡng da cùng beautifme | beautifme | skincare with beautifme for beginners" />
            </a>
        </div>
        <div class="infor">
            <a class="title_news" href="/news/{{ news.id }}/{{ news.slug }}/">{{news.title}}</a>
            <p class="time">{{ news.pub_date }}</p>
            <p class="news-author">By {{ news.author }}</p>
            <p>{{ news.summary }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="news">
        <p>News is empty at the moment, please come back later for newest updates ( ´ ▽ ` )/</p>
    </div>
    {% endif %}
</div>

<div class="newsPagination">
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1" class="space">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="space">Previous</a>
        {% endif %}
    </span>
    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    <span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="space">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="space">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}