{% extends 'product/base.html' %}

{% load static %}

{% block title %}Brand{% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'news/css/listNews.css' %}">

{% endblock header %}
{% block content %}
{% if current_news %}
        <div class="listnews">
            <p class="detail_title">{{current_news.title}}</p>
            <p class="time">{{current_news.pub_date}}</p>
            <img class="detail_img" src="{{ current_news.news_img.url }}">
            <p class="sumary">{{current_news.summary}}</p>
            <div class="detail_content">{{current_news.content}}</div>
        </div>
    {% endif %}
{% endblock content %}