{% extends 'product/base.html' %}

{% load static %}

{% block title %}News | {% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'news/css/listNews.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock header %}
{% block content %}

<div class="listnews">
    {% if news_list %}
        {% for news in news_list %}
            <div class="news">
                <div class="includeimg">
                    <a href="/news/{{ news.id }}/{{ news.slug }}">
                        <img class="img" src="{{ news.news_img.url }}" />
                    </a>
                </div>
                <div class="infor">
                    <a class="title_news" href="/news/{{ news.id }}/{{ news.slug }}">{{news.title}}</a>
                    <p class="time">{{news.pub_date}}</p>
                    <p class="news-author">By {{ news.author }}</p>
                    <p>{{news.summary}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif  %}
    </div>
{% endblock content %}