{% extends "product/base.html" %}
{% load static %}

{% block title %}About us | {% endblock title %}

{% block header %}
<link rel="stylesheet" href="{% static 'accounts/css/about.css' %}" />
{% endblock header %}

{% block content %}
<div class="about-body">
    <div class="about-section">

        <!-- Title About us -->
        <h1 class="about-title">All Skin Concerns. All Skin Tones. All Skin Types.</h1>

        <!-- Description -->
        <div class="about_us">
            <p>
                When it comes to caring for your skin, there's no room for one-size-fits-all.
                We are dedicated to providing a personalized and expert-based approach to skin care.
                Backed by top dermatologists, estheticians, and the beauty industry experts,
                Beautif aims to offer skin care advice you can trust to take care of your skin—no matter the type, tone,
                or concern.
                We'll keep you up-to-date with the latest innovations in skin care, bring you insights on the newest
                studies,
                and share the best products and routines to help you achieve your healthiest-looking skin ever.
            </p>
        </div>
        <div class="about_us" id="about_us1">400+ US Researchers and Scientists. $1B on R&D. 501+ Patents.</div>
    </div>
</div>

{% endblock content %}