{% extends 'product/base.html' %}
{% load static %}

{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/accounts_preview.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--metadata tag-->
<meta name="robots" content="noindex, nofollow, noarchive, noimageindex, nosnippet" />
{% endblock header %}

{% block title %} Accounts | {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">

                    <!-- Tittle signup -->
                    <h2 class="form-tittle">Your Profile</h2>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>{{ form.as_p }}</p>
                        </div>
                        <!-- Button Sign up -->
                        <input type="submit" class="submitButton" value="Confirm"/>

                        <!-- Change password -->
                        <p class="change-password">Want to change your password? <a href="{% url 'change_password' %}">Click here</a></p>
                    </form>
                    <div class="message_notification">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Please login to continue.</p>
    {% endif %}
{% endblock content %}