{% extends 'product/base.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/accounts_preview.css' %}">
{% endblock css %}

{% block title %} Accounts | {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">

                    <!-- Tittle signup -->
                    <h2 class="form-tittle">Your Profile</h2>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>{{ form.as_p }}</p>
                        </div>
                        <!-- Button Sign up -->
                        <input type="submit" class="submitButton" value="Confirm"/>
                    </form>

                </div>
            </div>
        </div>
        <div>
            {{ message }}
        </div>
    {% else %}
        <p>Please login to continue.</p>
    {% endif %}
{% endblock content %}