{% extends 'product/base.html' %}
{% load static %}

{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--metadata tag-->
<meta name="robots" content="noindex, nofollow, noarchive, noimageindex, nosnippet" />
{% endblock header %}

{% block title %} Change password | {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="signin-content">
        <div class="signin-form">

            <!-- Tittle change password -->
            <h2 class="form-tittle">Change password</h2>

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <p>{{ form.as_p }}</p>
                </div>
                <!-- Button Sign up -->
                <input type="submit" class="submitButton" value="Submit"/>
            </form>

        </div>
    </div>
</div>
<div class = "message_notification">
    {{ message }}
</div>
{% else %}
    <p>You didn't have the permission to access this page. Please <a href="{% url 'login' %}">login</a></p>
{% endblock content %}
