{% extends "product/base.html" %}

{% load static %}

{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta property='og:url' itemprop="url" content="https://www.beautifme.com/login/" />
<meta property='og:type' content="website" />
<meta property='og:url' itemprop="url" content="https://www.beautifme.com/login/" />
<meta property='og:description' property="og:description" content="beautifME login site"/>
<meta name="description" content="Login to share your skincare experience with beautifME - Hãy đăng nhập để cùng beautifME chia sẻ trải nghiệm của bạn về sản phẩm." />

<link rel="canonical" href="https://www.beautifme.com/login/" />
{% endblock header %}

{% block javascript %}
<script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock javascript %}

{% block title %}Login | {% endblock title %}

{% block content %}

<div class="container">
    <div class="signin-content">
        <div class="signin-form">
            <!-- Tittle Login -->
            <h1 class="form-title">Login</h1>

            <form method="post" class="login-form"> 
                {% csrf_token %}
                
                <!-- Input username and password -->
                <div class="form-group">{{ form.as_p }}</div>


                
                <p class="txt" id="no_CAPSLOCK">&nbsp;</p><p class="txt" id="text">WARNING! Caps lock is ON.</p></tr>
                
                                <!-- Remember password -->
                        <div class="form-group_remember">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term">Remember me</label>
                            <div class="forgot_password">
                                <a class="forgot_password" href="#">Forgot Password?</a>
                            </div>
                        </div>

                        <!-- Button Login in -->
                        <button type="submit" class="submitButton">Login</button>

                        <!-- Create new account -->
                        <div class="account-create">
                            <a class="account-link" href="{% url 'register' %}">
                                Create new account					
                            </a>
                        </div>
                
            </form>

        </div>
        
    </div>
</div>

    
{% endblock content %}
