{% extends 'product/base.html' %}
{% load static %}

{% block header %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="robots" content="noindex, nofollow, noarchive, noimageindex, nosnippet" />
{% endblock header %}

{% block title %}Logout | {% endblock title %}

{% block content %}
<p>Logged out successfully. <a href="{% url 'homepage' %}">Click here</a> to return to Homepage.</p>
{% endblock content %}