{% extends "product/base.html" %}

{% load static %}

{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock header %}

{% block title %}Register | {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>You have been logged in. If you wish to logout, <a href="{% url 'logout' %}">click here</a>.</p>
    {% else %}
        
    <div class="container">
        <div class="signin-content">
            <div class="signin-form">
                <!-- Tittle Login -->
                <h2 class="form-tittle">Sign up</h2>
    
                <form method="post" class="login-form"> 
                    {% csrf_token %}
                    
                    <!-- Input username and password -->
                    <div class="form-group">{{form.as_p}}</div>
                    <!-- Button Login in -->
                    <input type="submit" class="submitButton" value="Register"/>
                    
                </form>
    
            </div>
            <div class="message-notification">
                {{ message }}
            </div>
            
        </div>
    {% endif %}


{% endblock content %}