{% extends "product/base.html" %}

{% block title %}Register | {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>You have been logged in. If you wish to logout, <a href="{% url 'logout' %}">click here</a>.</p>
    {% else %}
        <form method='POST'>
            {% csrf_token %}
            <table>
                {% for attr in form %}
                <tr>
                    <td>{{ attr.label }}</td>
                    <td>{{ attr }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register"/>
                    </td>
                </tr>
            </table>
        </form>
        <div>
            {{ message }}
        </div>
    {% endif %}
{% endblock content %}