{% extends "product/base.html" %}

{% load static %}

{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta property='og:url' itemprop="url" content="https://www.beautifme.com/register/" />
<meta name="description" content="Register with beautifME to share your skincare experiences - Đăng kí ngay để chia sẻ kinh nghiệm của bạn với beautifME về việc chăm sóc da." />
{% endblock header %}

{% block title %}Register | {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>You have been logged in. If you wish to logout, <a href="{% url 'logout' %}">click here</a>.</p>
    {% else %}
        
    <div class="container">
        <div class="signin-content">
            <div class="signin-form">
                <!-- Tittle Login -->
                <h1 class="form-title">Sign up</h1>
    
                <form method="post" class="login-form"> 
                    {% csrf_token %}
                    
                    <!-- Input username and password -->
                    <div class="form-group">{{form.as_p}}</div>
                    <!-- Button Login in -->
                    <input type="submit" class="submitButton" value="Register" onclick="alertRegister()"/>
                    
                </form>
    
            </div>
            {% if messages %}
                {% for m in messages %}
                    {% if m.tags %}
                    <script>  
                        alert("{{ m }}");
                    </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}


{% endblock content %}