{% extends 'product/base.html' %}

{% load static %}

{% block title %}Product | {% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'product/css/listProduct.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<meta property='og:type' content="website" />
<meta property='og:url' itemprop="url" content="https://www.beautifme.com/product/" />
<meta name="description" content="List of products might be suitable for your skincare routine - beautifME skincare." />

<link rel="canonical" href="https://www.beautifme.com/product/" />
{% endblock header %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'product:product-list' %}">Products</a></li>
</ul>


<div class="container">
    <h1 class="h1">Products</h1>
    <hr />
    {% if page_obj %}
    <div class="row">
        {% for product in page_obj %}
            <div class="col-md-3 col-sm-6" style="position:unset;">
                <a href="/product/{{ product.id }}/{{ product.slug }}/">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <img class="pic-1 lazyload" src="{{ product.product_img.url }}" alt="{{ product.product_name}}-{{ product.brand.branding_name}}-beautifme" />
                        </div>
                        <div class="product-content">
                            <h3 class="title">{{ product.product_name }}</h3>
                            <div class="price">${{ product.price }}</div>
                        </div>
                        <ul class="social">
                        </ul>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <p>Uh oh, we haven't update any products at the moment, please come back later for more updates.</p>
    </div>
    {% endif %}
</div>

<div class="productPagination">
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1" class="space">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="space">Previous</a>
        {% endif %}
    </span>
    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    <span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="space">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="space">Last &raquo;   </a>
        {% endif %}
    </span>
</div>
{% endblock content %}