{% load static %}
{% load icons %}
{% load google_analytics_tags %}

<!DOCTYPE html>
<html lang='en'>

<head>
    <title>{% block title %}{% endblock title %} beautifME</title>
    <link rel="icon" href="{% static 'product/img/beautifME-avatar.jpg' %}" />
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
    <link type="text/css" rel="stylesheet" href="{% static 'product/css/header.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- Responsive website settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="UTF-8" />

    <!--Meta for Facebook-->
    <meta property='og:site_name' content="https://beautifme.com" />
    <meta property='og:rich_attachment' content="true" />
    <meta property='og:type' content="website" />
    <meta property='og:url' itemprop="url" content="https://www.beautifme.com"/>
    <!--Website Logo-->
    <meta property='og:image' itemprop="thumbnailUrl" content="{% static '/product/img/Artboard.png' %}" /> 
    <meta property='og:image:width' content="960" />
    <meta property='og:image:height' content="540" />
    <!--end Website Logo-->
    <meta content="beautifME - beauty in your way" itemprop="headline" property="og:title" />
    <meta itemprop="description" property="og:description" content="Recommend skincare routine"/>
    <!--end Meta for Facebook-->
    <meta name="copyright" content="beautifME" />
    <meta name="author" content="beautifME"/>
    <meta name="robots" content="index, follow" />
    <meta name="geo.placename" content="Ho Chi Minh, Viet Nam" />
    <meta name="geo.region" content="VN-HCM" />
    <meta name="revist-after" content="days" />
    <!--Google Search Metadata-->
    <div style="display:none">
        <img src="{% google_analytics %}" width="0" height="0" />
    </div>
    {{ form.media }}
    {% block header %}
    {% endblock header %}

    {% block css %}
    {% endblock css %}
</head>

<body>

    <!--Header part-->
    <div class="head">
        <!--Logo -->
        <div class="logo">
            <a href="/">
                <img class="imglogo" src="{% static '/product/img/Artboard.png' %}" />
            </a>
        </div>

        <!--Search bar-->
        <div class="search">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form method="GET" action="/search/">
                        <input type="text" name="q" class="form-control input-lg" placeholder="Search" />
                    </form>
                </div>
            </div>
        </div>
        <div class="login">

            <!--Login/Logout -->
            {% if user.is_authenticated %}

            <div class="hello-user">
                <a href="{% url 'accounts:accounts-preview' %}">Hello, {{ request.user }}</a>
                <span class="logout-user"><a href="{% url 'logout' %}" >Logout</a></span>
            </div>
            

            {% else %}

            <p class="Login">
                <a href="{% url 'login' %}">Log in</a> <span> | </span> 
                <a href="{% url 'register' %}">Sign up</a>
            </p>

            {% endif %}
        </div>
    </div>
    <!--End Header part-->


    <div class="menu">
        <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <div>
                <a for="check" class="icon">
                    <i href="javascript:void(0);" class="fa fa-bars" onclick="myFunction()"&#9776; ></i>
                </a>
            </div>
            <!--Vertical Menu-->
            <ul>

                <!--Brands -->
                <li>
                    <a class="Title" href="{% url 'brand:brand-list' %}">Brands</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">

                            <!--Brand.1-->
                            <div>
                                <h4>Trending</h4>
                                {% if trending %}
                                <ul>
                                    {% for brand in trending|slice:"6" %}
                                    <li><a href="/brand/{{ brand.id}}/{{ brand.slug }}">{{ brand.branding_name }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!--Brand.2-->
                            <div>
                                <h4>High-end</h4>
                                <ul>
                                    {% for brand in highend|slice:"5" %}
                                    <li><a href="/brand/{{ brand.id }}/{{ brand.slug }}">{{ brand.branding_name }}</a></li>
                                    {% endfor %}
                                    <!-- <li><a href="/brand/21/">Burberry</a></li>
                                    <li><a href="/brand/31/">Lancome</a></li>
                                    <li><a href="/brand/13/">Sulwhasoo</a></li>
                                    <li><a href="/brand/9/">La Mer</a></li>
                                    <li><a href="/brand/8/">Drunk Elephant</a></li> -->
                                </ul>
                            </div>

                            <!--Brand.3-->
                            <div>
                                <h4>Drugstore</h4>
                                <ul>
                                    {% for brand in drugstore|slice:"7" %}
                                    <li><a href="/brand/{{ brand.id }}/{{ brand.slug }}">{{ brand.branding_name }}</a></li>>
                                    {% endfor %}
                                    <!-- <li><a href="/brand/19/">Innisfree</a></li>
                                    <li><a href="/brand/20/">Biore</a></li>
                                    <li><a href="/brand/22/">Cetaphil</a></li>
                                    <li><a href="/brand/23/">Cerave</a></li>
                                    <li><a href="/brand/25/">DHC</a></li>
                                    <li><a href="/brand/28/">Hada Labo</a></li>
                                    <li><a href="/brand/16/">Senka</a></li> -->
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>

                <!--Products-->
                <li>
                    <a class="Title" href="{% url 'product:product-list' %}">Products</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">

                            <!--Cleansing items-->
                            <div>
                                <h4>Cleansing</h4>
                                <ul>
                                    <li><a href="/product/1/">Bioderma Sébium H2O</a></li>
                                    <li><a href="/product/3/">Ohui Miracle Moisture Cleansing Cream</a></li>
                                    <li><a href="/product/36/">Senka All Clear Water Fresh</a></li>
                                </ul>
                                <h4>Cleanser</h4>
                                <ul>
                                    <li><a href="/product/4/">CeraVe Hydrating Facial Cleanser</a></li>
                                    <li><a href="/product/5/">La Roche-Posay Toleriane Cleanser</a></li>
                                    <li><a href="/product/6/">La Mer The Cleansing Oil</a></li>
                                    <li><a href="/product/73/">Biore Deep Pore Cleanser</a></li>
                                </ul>
                            </div>

                            <!--Skincare Products-->
                            <div>
                                <h4>Toner</h4>
                                <ul>
                                    <li><a href="/product/7/">Thayers Alcohol – Free Witch Hazel</a></li>
                                    <li><a href="/product/8/">Huxley Toner Extract It</a></li>
                                    <li><a href="/product/47">Murad Clarifying Toner</a></li>
                                </ul>
                                <h4>Cream</h4>
                                <ul>
                                    <li><a href="/product/10/">Neutrogena Hydro Boost Water</a></li>
                                    <li><a href="/product/15/">The Dewy Skin Cream</a></li>
                                    <li><a href="/product/12/">Innisfree Jeju Cherry Blossom Cream</a></li>
                                    <li><a href="/product/2/">Crème De La Mer</a></li>
                                </ul>
                            </div>

                            <!--Suncare Products-->
                            <div>
                                <h4>Sun care</h4>
                                <ul>
                                    <li><a href="/product/9/">Senka Perfect UV Milk</a></li>
                                    <li><a href="/product/43/">OMI Sun Bears Mild Gel SPF35 PA++++</a></li>
                                    <li><a href="/product/11/">Biore UV Aqua Rich Watery Essence</a></li>
                                    <li><a href="/product/33">BIODERMA PHOTODERM LASER SPF 50+ CREAM</a></li>
                                    <li><a href="/product/13/">Innisfree Tone Up No Sebum Sunscreen</a></li>
                                    <li><a href="/product/85/">Siken Pore Perfecting Suncreen</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>

                <!--Recommend-->
                <li>
                    <a class="Title" href="{% url 'recommend' %}">Recommend</a>
                </li>

                <!--News-->
                <li>
                    <a class="Title" href="{% url 'news:news-list' %}">News</a>
                </li>

                <!--About-->
                <li>
                    <a class="Title" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <!--Body part-->
    {% block content %}
    {% endblock content %}
    <!--Javascript -->
    <script type="text/javascript" src="{% static 'product/js/add.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'product/js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'product/js/add.js' %}" ></script>
    <script type="text/javascript" src="{% static 'product/js/responsive.js' %}"></script>
    <script>
        $(function () {
            cbpHorizontalMenu.init();
        });
    </script>
    {% block javascript %}
    {% endblock javascript %}
    <!-- FOOTER -->
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>beautifME</h3>
            <p class="footer-links">
                <a href="{% url 'homepage' %}" class="link-1">Home</a>
                <a href="{% url 'product:product-list' %}">Products</a>
                <a href="{% url 'brand:brand-list' %}">Brands</a>
                <a href="{% url 'recommend' %}">Recommend</a>
                <a href="{% url 'news:news-list' %}">News</a>
            </p>
            <p class="footer-company-name">beautifME © 2020s</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>1 S. Han Thuyen</span> Thu Duc District, HCM City</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+84.909.999.999</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@beautif.com">support@beautifme.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                Life is short, so beautify yourself. Through skincare products, we will help you love yourself more
                everyday.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/beautifME"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/ndklien/beautifME"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>