{% extends 'product/base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block content %}
    <form method="GET">
        {{ moistP.form }}
        <input type="submit" value="Enter" id="filterButton"></button>
    </form>
    <ul>
    {% for product in moistP.qs %}
        <li>
            {{ product }}
            <img src="{{ product.product_img }}" />
        </li>
    {% endfor %}
    </ul>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'product/js/recommend.js' %}" ></script>
{% endblock javascript %}