{% extends 'product/base.html' %}

{% load static %}

{% block title %}Home | {% endblock title %}

{% block content %}
    <p>This is our Homepage.</p>

    <h3>Products list 1: </h3>
    <ul>
        {% for product in productList1 %}
        <li>{{ product }}</li>
        {% endfor %}
    </ul>

    <h3>Products list 2: </h3>
    <ul>
        {% for product in productList2 %}
        <li>{{ product }}</li>
        {% endfor %}
    </ul>

    <h3>News list 1: </h3>
    <ul>
        {% for article in newsList1 %}
        <li>{{ article }}</li>
        {% endfor %}
    </ul>

    <h3>News list 2: </h3>
    <ul>
        {% for article in newsList2 %}
        <li>{{ article }}</li>
        {% endfor %}
    </ul>

    <h3>Brands list 1: </h3>
    <ul>
        {% for brand in brandList1 %}
        <li>{{ brand.get_branding_name_display }}</li>
        {% endfor %}
    </ul>

    <h3>Brands list 2: </h3>
    <ul>
        {% for brand in brandList2 %}
        <li>{{ brand.get_branding_name_display }}</li>
        {% endfor %}
    </ul>
    
{% endblock content %}