{% extends 'product/base.html' %}

{% load static %}

{% block title %}Home | {% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'product/css/base_home.css' %}" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
{% endblock header %}

{% block content %}
<h1 style="display: none; width:0px; height: 0px;">Home</h1>
<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <picture>
            <source srcset="{% static 'product/img/img1.webp' %}" type="image/webp" />
            <source srcset="{% static 'product/img/img1.png' %}" type="image/png"/>
            <img src="{% static 'product/img/img1.webp' %}" class="SlideImg" alt="beautifme slide 1 - beautif in your way">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <picture>
            <source srcset="{% static 'product/img/img2.webp' %}" type="image/webp" />
            <source srcset="{% static 'product/img/img2.png' %}" type="image/png"/>
            <img src="{% static 'product/img/img2.webp' %}" class="SlideImg" alt="beautifme slide 2 - beautif in your way">
        </picture>

    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <picture>
            <source srcset="{% static 'product/img/img3.webp' %}" type="image/webp" />
            <source srcset="{% static 'product/img/img3.png' %}" type="image/png"/>
            <img src="{% static 'product/img/img3.webp' %}" class="SlideImg" alt="beautifme slide 3 - beautif in your way">
        </picture>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>

<br />

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script src="{% static 'product/js/base_home.js' %}"></script>

<!-- Carousel -->

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    HOT PRODUCTS
                </h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btd-success" href="#carousel-example1"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btd-success"
                        href="#carousel-example1" data-slide="next"></a>
                </div>
            </div>
        </div>
        <hr>
        <div id="carousel-example1" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            {% for pList in productList %}
            <div class="carousel-inner">
                {% if forloop.first %}
                <div class="item active">
                    <div class="row">
                        {% for product in pList %}
                        <a href="/product/{{ product.id }}/{{ product.slug }}">
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid6">
                                    <div class="product-image6">
                                        <picture>
                                            <source srcset="{{ product.product_img.url }}" type="image/webp"/>
                                            <img class="pic-1" src="{{ product.product_img.url }}" class="lazyload">
                                        </picture>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title">{{ product.product_name }}</h3>
                                        <div class="price">${{ product.price }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="item">
                    <div class="row">
                        {% for product in pList %}
                        <a href="/product/{{ product.id }}/{{ product.slug }}">
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid6">
                                    <div class="product-image6">
                                        <!-- <img class="pic-1" src="{{ product.product_img.url }}"> -->
                                        <picture>
                                            <source srcset="{{ product.product_img.url }}" type="image/webp"/>
                                            <img class="pic-1" src="{{ product.product_img.url }}" class="lazyload">
                                        </picture>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title">{{ product.product_name }}</h3>
                                        <div class="price">${{ product.price }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Hot Brand -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    HOT BRANDS
                </h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btd-success" href="#carousel-example2"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btd-success"
                        href="#carousel-example2" data-slide="next"></a>
                </div>
            </div>
        </div>
        <hr>
        <div id="carousel-example2" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            {% for bList in brandList %}
            <div class="carousel-inner">
                {% if forloop.first %}
                <div class="item active">
                    <div class="row">
                        {% for brand in bList %}
                        <a href="/brand/{{ brand.id }}/{{ brand.slug }}">
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid6">
                                    <div class="product-image6">
                                        <img class="pic-1" src="{{ brand.brandImage.url }}" class="lazyload">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title">{{ brand.branding_name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="item">
                    <div class="row">
                        {% for brand in bList %}
                        <a href="/brand/{{ brand.id }}/{{ brand.slug }}">
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid6">
                                    <div class="product-image6">
                                        <img class="pic-1" src="{{ brand.brandImage.url }}" class="lazyload">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title">{{ brand.branding_name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>


    </div>
</div>
<!-- Hot News -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    HOT NEWS
                </h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btd-success" href="#carousel-example2"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btd-success"
                        href="#carousel-example3" data-slide="next"></a>
                </div>
            </div>
        </div>
        <hr>
        <div id="carousel-example3" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            {% for nList in newsList %}
            <div class="carousel-inner">
                {% if forloop.first %}
                <div class="item active">
                    <div class="row">
                        {% for news in nList %}
                        <a href="/news/{{ news.id }}/{{ news.slug }}">
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid6">
                                    <div class="product-image6">
                                        <img class="pic-1" src="{{ news.news_img.url }}" class="lazyload">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title">{{ news.title }}</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="item">
                    <div class="row">
                        {% for news in nList %}
                        <a href="/news/{{ news.id }}/{{ news.slug }}">
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid6">
                                    <div class="product-image6">
                                        <img class="pic-1" src="{{ news.news_img.url }}" class="lazyload">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title">{{ news.title }}</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            
            </div>
            {% endfor %}
        </div>


    </div>
</div>
{% endblock content %}