{% load static %}
{% load icons %}

<!DOCTYPE html>
<html lang='en'>

<head>
    <title>{% block title %}{% endblock title %} beautifME</title>
    <link rel="icon" href="{% static 'product/img/beautifME-avatar.jpg' %}" />
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
    <link type="text/css" rel="stylesheet" href="{% static 'product/css/header.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="{% static 'product/css/lazysizes.min.js' %}" async="" ></script>
    <!-- Responsive website settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N7WTCV3');</script>
    <!-- End Google Tag Manager -->

    <!--Meta for Facebook-->
    <meta property='og:site_name' content="beautifme.com" />
    <meta property='og:rich_attachment' content="true" />
    <meta property='og:type' content="website" />
    <meta property='og:url' itemprop="url" content="https://www.beautifme.com" />
    <!--Website Logo-->
    <meta property='og:image' itemprop="thumbnailUrl" content="{% static '/product/img/Artboard.webp' %}" />
    <meta property='og:image:width' content="960" />
    <meta property='og:image:height' content="540" />
    <!--end Website Logo-->
    <meta content="beautifME - beauty in your way" itemprop="headline" property="og:title" />
    <meta itemprop="description" property="og:description" content="Recommend skincare routine" />
    <!--end Meta for Facebook-->
    <meta name="copyright" content="beautifME" />
    <meta name="author" content="beautifME" />
    <meta name="robots" content="index, follow" />
    <meta name="geo.placename" content="Ho Chi Minh, Viet Nam" />
    <meta name="geo.region" content="VN-HCM" />
    <meta name="revist-after" content="days" />
    <!--Google Search Metadata-->
    {{ form.media }}
    {% block header %}
    {% endblock header %}

    {% block css %}
    {% endblock css %}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7WTCV3" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--Header part-->
    <div class="head">
        <!--Logo -->
        <div class="logo">
            <picture>
                <source srcset="{% static '/product/img/Artboard.webp' %}" type="image/webp" />
                <source srcset="{% static '/product/img/Artboard.png' %}" type="image/png"/>
                <a href="/">
                    <img class="imglogo" src="{% static '/product/img/Artboard.webp' %}" alt="beautifme logobeauty in your way" />
                </a>
            </picture>
            
        </div>

        <!--Search bar-->
        <div class="search">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form method="GET" action="/search/">
                        <input type="text" name="q" class="form-control input-lg" placeholder="Search" />
                    </form>
                </div>
            </div>
        </div>
        <div class="login">

            <!--Login/Logout -->
            {% if user.is_authenticated %}

            <div class="hello-user">
                <a href="{% url 'accounts:accounts-preview' %}">Hello, {{ request.user }}</a>
                <span class="logout-user"><a href="{% url 'logout' %}">Logout</a></span>
            </div>


            {% else %}

            <p class="Login">
                <a href="{% url 'login' %}">Log in</a> <span> | </span>
                <a href="{% url 'register' %}">Sign up</a>
            </p>

            {% endif %}
        </div>
    </div>
    <!--End Header part-->


    <div class="menu" style="text-align: center;">
        <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <div>
                <a for="check" class="icon">
                    <i href="javascript:void(0);" class="fa fa-bars" onclick="myFunction()" &#9776;></i>
                </a>
            </div>
            <!--Vertical Menu-->
            <ul>

                <!--Brands -->
                <li>
                    <a class="Title" href="{% url 'brand:brand-list' %}">Brands</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">

                            <!--Brand.1-->
                            <div>
                                <h4>Trending</h4>
                                <ul>
                                    <li><a href="/brand/31/cocoon">Cocoon</a></li>
                                    <li><a href="/brand/24/klairs">Klairs</a></li>
                                    <li><a href="/brand/8/neutrogena">Neutrogena</a></li>
                                    <li><a href="/brand/26/make-prem">Make Pr:em</a></li>
                                    <li><a href="/brand/13/obagi">Obagi</a></li>
                                    <li><a href="/brand/30/derladie">Derladie</a></li>
                                </ul>
                            </div>

                            <!--Brand.2-->
                            <div>
                                <h4>High-end</h4>
                                <ul>
                                    <li><a href="/brand/5/sk-ii">SK-II</a></li>
                                    <li><a href="/brand/3/skinceuticals">SkinCeuticals</a></li>
                                    <li><a href="/brand/1/clinique">Clinique</a></li>
                                    <li><a href="/brand/37/laneige">Laneige</a></li>
                                    <li><a href="/brand/15/la-roche-posay">La Roche-Posay</a></li>
                                </ul>
                            </div>

                            <!--Brand.3-->
                            <div>
                                <h4>Drugstore</h4>
                                <ul>
                                    <li><a href="/brand/35/innisfree">Innisfree</a></li>
                                    <li><a href="/brand/12/biore">Biore</a></li>
                                    <li><a href="/brand/22/cetaphil">Cetaphil</a></li>
                                    <li><a href="/brand/16/cerave">Cerave</a></li>
                                    <li><a href="/brand/6/cosrx">Cosrx</a></li>
                                    <li><a href="/brand/32/hada-labo">Hada Labo</a></li>
                                    <li><a href="/brand/13/Senka">Senka</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>

                <!--Products-->
                <li>
                    <a class="Title" href="{% url 'product:product-list' %}">Products</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">

                            <!--Cleansing items-->
                            <div>
                                <h4>Makeup Remover</h4>
                                <ul>
                                    <li><a href="/product/26/sensibio-h2o-micellar-water/">Bioderma Sensibio H2O
                                            Micellar Water</a></li>
                                    <li><a href="/product/41/micellar-water-ultra-sensitive-skin/">La Roche-Posay
                                            Micellar Water</a></li>
                                    <li><a href="/product/40/safe-me-relief-green-cleansing-water/">Make Pr:em Cleansing
                                            Water</a></li>
                                </ul>
                                <h4>Cleanser</h4>
                                <ul>
                                    <li><a href="/product/18/hydrating-cream-to-foam-cleanser/">CeraVe Hydrating Facial
                                            Cleanser</a></li>
                                    <li><a href="/product/17/toleriane-purifying-foaming-facial-wash/">La Roche-Posay
                                            Toleriane Cleanser</a></li>
                                    <li><a href="/product/8/murad-clarifying-cleanser/">Murad Clarifying Cleanser</a>
                                    </li>
                                    <li><a href="/product/27/low-ph-good-morning-gel-cleanser/">Low pH Good Morning Gel
                                            Cleanser</a></li>
                                </ul>
                            </div>

                            <!--Skincare Products-->
                            <div>
                                <h4>Toner</h4>
                                <ul>
                                    <li><a href="/product/44/toner-5-glycolic-acid/">Toner 5% Glycolic Acid</a></li>
                                    <li><a href="/product/15/the-ordinary-glycolic-acid-7-toning/">The Ordinary Glycolic
                                            Acid 7% Toning</a></li>
                                    <li><a href="/product/30/hatomugi-skin-conditioner/">Hatomugi Skin Conditioner</a>
                                    </li>
                                </ul>
                                <h4>Moisturizer</h4>
                                <ul>
                                    <li><a href="/product/32/klairs-midnight-blue-calming-cream/">Klairs Midnight Blue
                                            Calming Cream</a></li>
                                    <li><a href="/product/55/laneige-perfect-renew-eye-cream/">Laneige Perfect Renew Eye
                                            Cream</a></li>
                                    <li><a href="/product/31/klairs-freshly-juiced-vitamin-e-mask/">Klairs Freshly
                                            Juiced Vitamin E Mask</a></li>
                                    <li><a
                                            href="/product/49/bielenda-dr-medica-dermatological-anti-acne-face-cream-day-night/">Bielenda
                                            Dr Medica Cream Day Night</a></li>
                                </ul>
                            </div>

                            <!--Suncare Products-->
                            <div>
                                <h4>Sunscreen</h4>
                                <ul>
                                    <li><a href="/product/58/woolworths-sunscreen-spf-50/">Woolworths Sunscreen Spf
                                            50+</a></li>
                                    <li><a href="/product/33/nivea-sun-uv-face-sensitive-soothing/">Nivea Sun UV Face
                                            Sensitive Soothing</a></li>
                                    <li><a href="/product/11/biore-uv-bright-face-milk-spf50-pa/">Biore UV Bright Face
                                            Milk</a></li>
                                    <li><a href="/product/34/eucerin-sun-gel-cream-oil-control-spf-50/">Eucerin Sun Gel
                                            Cream Oil Control</a></li>
                                    <li><a href="/product/36/cell-fusion-c-toning-sunscreen-100/">Cell Fusion C Toning
                                            Sunscreen 100</a></li>
                                    <li><a
                                            href="/product/21/la-roche-posay-anthelios-fluide-invisible-shaka-fluide-spf50/">La
                                            Roche-Posay Anthelios Fluide Invisible</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>

                <!--Recommend-->
                <li>
                    <a class="Title" href="{% url 'recommend' %}">Recommend</a>
                </li>

                <!--News-->
                <li>
                    <a class="Title" href="{% url 'news:news-list' %}">News</a>
                </li>

                <!--About-->
                <li>
                    <a class="Title" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <!--Body part-->
    {% block content %}
    {% endblock content %}
    <!--Javascript -->
    <script type="text/javascript" src="{% static 'product/js/add.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'product/js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'product/js/add.js' %}"></script>
    <script type="text/javascript" src="{% static 'product/js/responsive.js' %}"></script>
    <script>
        $(function () {
            cbpHorizontalMenu.init();
        });
    </script>
    {% block javascript %}
    {% endblock javascript %}
    <!-- FOOTER -->
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>beautifME</h3>
            <p class="footer-links">
                <a href="{% url 'homepage' %}" class="link-1">Home</a>
                <a href="{% url 'product:product-list' %}">Products</a>
                <a href="{% url 'brand:brand-list' %}">Brands</a>
                <a href="{% url 'recommend' %}">Recommend</a>
                <a href="{% url 'news:news-list' %}">News</a>
            </p>
            <p class="footer-company-name">beautifME © 2020s</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>1 S. Han Thuyen</span> Thu Duc District, HCM City</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+84.909.999.999</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@beautif.com">support@beautifme.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                Life is short, so beautify yourself. Through skincare products, we will help you love yourself more
                everyday.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/beautifME"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/ndklien/beautifME"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>