{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> BeautifyLabo: {% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{% static 'product/base.css' %}">
    </head>
 
    <body>
        <div class="topnav">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="">Products</a>
            <a href="">News</a>
            <a>About</a>
            <div style="float: right;">
                <form method="GET" action="{% url 'search_results' %}">
                    <input name="q" type="text" placeholder="Search here">
                </form>
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}
    </body>
</html>