.timeline{
  margin-top:20px;
  /* position:relative; */
}

/* .timeline:before{
  position:absolute;
  content:'';
  width:4px;
  height:calc(100% + 50px);
background:#a75535;
background: -moz-linear-gradient(left,#a75535 0%, #a75535 60%, #a75535 100%);
background: -webkit-linear-gradient(left,#a75535 0%,#a75535 60%,#a75535 100%);
background: linear-gradient(to right,#a75535 0%,#a75535 60%,#a75535 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
  left:14px;
  top:5px;
  border-radius:4px;
} */

.timeline-month{
  position:relative;
  padding:4px 15px 4px 35px;
  background-color:#a75535;
  display:inline-block;
  width:auto;
  border-radius:40px;
  border:1px solid #a75535;
  border-right-color:#a75535;
  margin-bottom:30px;
}

.timeline-month span{
  position:absolute;
  top:-1px;
  left:calc(100% - 10px);
  z-index:-1;
  white-space:nowrap;
  display:inline-block;
  background-color:#a75535;
  padding:4px 10px 4px 20px;
  border-top-right-radius:40px;
  border-bottom-right-radius:40px;
  border:1px solid #a75535;
  box-sizing:border-box;
}

.timeline-month:before{
  position:absolute;
  content:'';
  width:20px;
  height:20px;
background: #a75535;
background: -moz-linear-gradient(top,#a75535 0%,#a75535 60%, #a75535 100%);
background: -webkit-linear-gradient(top, #a75535 0%,#a75535 60%,#a75535 100%);
background: linear-gradient(to bottom, #a75535 0%,#a75535 60%#a75535 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
  border-radius:100%;
  border:1px solid #a75535;
  left:5px;
}

.timeline-section{
  padding-left:35px;
  display:block;
  /* position:relative; */
  margin-bottom:30px;
}

.timeline-date{
  font-size: larger;
  margin-bottom:15px;
  padding:2px 15px;
  background:linear-gradient(#aa5f41, #a86348 60%,#a3705c);
  /* position:relative; */
  display:inline-block;
  border-radius:20px;
  border:1px solid white;
  color:#fff;
text-shadow:1px 1px 1px white(0,0,0,0.3);
}
.timeline-section:before{
  content:'';
  position:absolute;
  width:30px;
  height:1px;
  background-color:white;
  top:12px;
  left:20px;
}

/* .timeline-section:after{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  background:linear-gradient(to bottom,#a75535 0%,#a75535 60%,rgba(112,120,125,1) 100%);
  top:7px;
  left:11px;
  border:1px solid white;
  border-radius:100%;
} */

.timeline-section .col-sm-4{
  margin-bottom:15px;
}

.timeline-box{
  /* position:relative; */
  
 background-color:white;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border:1px solid white;
  transition:all 0.3s ease;
  overflow:hidden;
}

.box-icon{
  position:absolute;
  right:5px;
  top:0px;
}

.box-title{
  padding:5px 15px;
  border-bottom: 1px solid #17191B;
}

.box-title i{
  margin-right:5px;
}

.box-content{
  padding:5px 15px;
  background-color:#17191B;
}

.box-content strong{
  color:#666;
  font-style:italic;
  margin-right:5px;
}

.box-item{
  margin-bottom:5px;
}

.box-footer{
 padding:5px 15px;
  border-top: 1px solid #17191B;
  background-color:#444950;
  text-align:right;
  font-style:italic;
}
/* product */
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}


.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{
    font-family:'Open Sans',sans-serif;
    text-align:center;
    /* position:relative; */
    transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{
    width:200px;
    height:200px;
    transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{
    padding:12px 12px 15px;
    transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{
    font-size:20px;
    font-weight:600;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s}
.product-grid6 .title a{color:#2e86de}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{
    font-size:18px;
    font-weight:600;
    color:#a75535  }
.product-grid6 .price span{
    color:#999;
    font-size:15px;
    font-weight:400;
    text-decoration:line-through;
    margin-left:7px;
    display:inline-block}
.product-grid6 .social{
    background-color:#fff;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    bottom:-50%;
    left:50%;
    z-index:1;
    transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}

@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}

.column{
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  float: left;
}
.tableRecommend{
  width: 300px;
  padding-left: 300px;
}
.user{
  width: 200px;
  text-align: left;
}

.buttonRecommend{
  background-color: #a75535;
  color: white;
  border-radius:  15px;
  padding: 2px 5px;
}

.center{
  text-align: center;
}
.formRecommend{
  padding-top: 30px;
  margin-top: 30px ;
}

.formRecommend {
  margin-bottom: 60px;
}

.recommend-content {
  font-size: 14px;
  line-height: 1.8;
  width: 500px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05), 0px 1px 16.83px 5px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 87px;
}

.recommend-form {
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 10px;
  overflow: hidden; 
  color: #a75535;
}

.submitButton {
  display: inline-block;
  background: rgb(167,85,53);
  color: #fff;
  width: 50%;
  padding: 11px 0px;
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer; 
}
.submitButton:hover {
  background:rgb(150, 61, 23); 
}  

input, select{
  width: 100%;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  background: #f1f1f1;
  border-radius: 5px;
  margin: 20px;
    
  box-sizing: border-box; 
}

input:focus, select:focus{
  outline: none;
  background: #ddd;
  color: #555;
}

@media screen and (max-width: 500px) {
    .recommend-content {
      width: auto;
      margin: 20px;
    }

    .recommend-form {
      margin-right: 10px;
      margin-left: 10px;
    }

    .submitButton {
      margin-left: 0px;
      width: 100%;
      
    }
}