{% extends 'product/base.html' %}

{% load static %}

{% block title %}{% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'product/css/listProduct.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock header %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'brand:brand-list' %}">Brand</a></li>
    <li>{{ brand.get_branding_name_display }}</li>
</ul>

<div class="container">
    <h3 class="h3">{{ brand.get_branding_name_display }} </h3>
    <hr />
    <div class="row">
        {% for product in products %}
        <!-- <li><a href="/product/{{ product.id }}">{{ product }}</a></li> -->

        <div class="column">
            <a href="/product/{{ product.id }}">
                <div class="product-grid6">
                    <div class="product-image6">
                        <img class="pic-1" src="{{ product.product_img.url }}" />
                    </div>
                    <div class="product-content">
                        <h3 class="title">{{product.product_name}}</h3>
                        <div class="price">${{product.price}}</div>
                    </div>
                    <ul class="social">

                    </ul>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock content %}