{% extends 'product/base.html' %}

{% load static %}

{% block title %}Brand | {% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'brand/css/listBrand.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock header %}
{% block content %}

<ul class="breadcrumb">
    <li><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'brand:brand-list' %}">Brand</a></li>
</ul>
<div class="container">
    <h3 class="h3">Brands </h3>
    <hr/>
    <div class="row">
        {% for brand in page_obj %}
            <!-- <li><a href="/product/{{ product.id }}">{{ product }}</a></li> -->
            <a href="/brand/{{ brand.id }}">
                <div class="column">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <img class="pic-1"
                            src="{{ brand.brand_img.url }}" />
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">{{brand.get_branding_name_display}}</a></h3>   
                        </div>
                        <ul class="social">
                        </ul>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<div class="productPagination">
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1" class="space">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="space">Previous</a>
        {% endif %}
    </span>
    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    <span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="space">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="space">Last &raquo;</a>
    {% endif %}
    </span>
</div>
{% endblock content %}