{% extends 'product/base.html' %}

{% load static %}

{% block title %}{{ brand.branding_name }} | {% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'product/css/listProduct.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Meta data -->
<!--Meta OpenGraph-->
<meta name="og:description" content="{{ brand.brandDescript }}" />
<meta name="og:title" content="{{ brand }} | {{ brand.branding_name }}"/>
<meta name="og:url" content="https://www.beautifme.com/brand/{{ brand.id }}/{{ brand.slug }}"/>
<meta name="og:type" content="website"/>
<meta name="og:img" content="{{ brand.brandImg.url }}">
<!--Meta keywords-->
<meta name="keywords" content="recommend, skincare, skin care, skincare recommend, skincare recommend beautifme" />
<meta name="keywords"
    content="skincare routine for beginners, gợi ý chu trình chăm sóc da, gợi ý beautifme, dưỡng da beautifme" />
<meta name="keywords" content="dưỡng da cơ bản beautifme, dưỡng da, skincare for beginners" />
<meta name="keywords"
    content="oily, dry, combination, acne prone, normal skin, aging skin, 30s, 20s, wrinkle, anti-aging" />
<!--end Meta keywords-->
<meta name="description" content="{{ brand.brandDescript }}" />
<meta name="product_article_id" content="{{ brand.id }}" />
<meta charset="UTF-8" />
<!--end Meta data-->
{% endblock header %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'brand:brand-list' %}">Brand</a></li>
    <li>{{ brand.branding_name }}</li>
</ul>

<div class="container">
    <h1 class="h1">{{ brand.branding_name }} </h1>
    <hr />
    {% if products %}
    <div class="row">
        {% for product in products %}
        <!-- <li><a href="/product/{{ product.id }}">{{ product }}</a></li> -->

        <div class="col-md-3 col-sm-6" style="position:unset">
            <a href="/product/{{ product.id }}/{{ product.slug }}">
                <div class="product-grid6">
                    <div class="product-image6">
                        <img class="pic-1" src="{{ product.product_img.url }}" alt="{{ product.product_name }}-{{ product.brand.branding_name}}-beautifme" />
                    </div>
                    <div class="product-content">
                        <h3 class="title">{{ product.product_name }}</h3>
                        <div class="price">${{ product.price }}</div>
                    </div>
                    <ul class="social">

                    </ul>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <p>There are no product in {{ brand.branding_name }} ヽ(・∀・)ﾉ</p>
    </div>
    {% endif %}
</div>

{% endblock content %}