{% extends 'product/base.html' %}

{% load static %}

{% block title %}Brand | {% endblock title %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static 'brand/css/listBrand.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Meta OpenGraph-->
<meta name="og:description" content="recommend skincare brand for beginners" />
<meta name="og:title" content="Brand | beautifME"/>
<meta name="og:url" content="https://www.beautifme.com/brand"/>
<!--Meta keywords-->
<meta name="keywords" content="recommend, skincare, skin care, skincare recommend, skincare recommend beautifme" />
<meta name="keywords"
    content="skincare routine for beginners, gợi ý chu trình chăm sóc da, gợi ý beautifme, dưỡng da beautifme" />
<meta name="keywords" content="dưỡng da cơ bản beautifme, dưỡng da, skincare for beginners" />
<meta name="keywords"
    content="oily, dry, combination, acne prone, normal skin, aging skin, 30s, 20s, wrinkle, anti-aging" />
<!--end Meta keywords-->
<meta charset="UTF-8" />
<meta name="description" content="Danh sách các thương hiệu chăm sóc da trên toàn thế giới - hãy chăm sóc làn da bạn cùng beautifME" />
<!--end Meta data-->
<link rel="canonical" href="https://www.beautifme.com/brand/" />
{% endblock header %}
{% block content %}

<ul class="breadcrumb">
    <li><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'brand:brand-list' %}">Brand</a></li>
</ul>
<div class="container">
    <h1 class="h1">Brands </h1>
    <hr/>
    <div class="row">
        {% for brand in page_obj %}
            <!-- <li><a href="/product/{{ product.id }}">{{ product }}</a></li> -->
            <a href="/brand/{{ brand.id }}/{{ brand.slug }}/">
                <div class="col-md-3 col-sm-6" style="position:unset;">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <img class="pic-1 lazyload"
                            src="{{ brand.brandImage.url }}" alt="{{ brand.branding_name }}-beautifme" />
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">{{brand.branding_name }}</a></h3>   
                        </div>
                        <ul class="social">
                        </ul>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<div class="brandPagination">
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1" class="space">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="space">Previous</a>
        {% endif %}
    </span>
    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    <span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="space">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="space">Last &raquo;</a>
    {% endif %}
    </span>
</div>
{% endblock content %}